#-------  Config file defining paths and stuff -------
# absolute path to the folder with the solver
SOLVER_PATH=C:/mathsat/mathsat-5.5.1-win64-msvc/bin/
# the name of the solver
SOLVER_NAME=mathsat.exe
# absolute path where to save the smt2 file
SMT2_PATH=C:/Users/kaiba/eclipse-workspace/master_privacy_dropbox/smt/
# name of the smt2 file to save in above path
DEFAULT_FILE_NAME=foo.smt2
# platform
PLATFORM=windows64